/*split*/
.split {
    position:static;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.top {
    position: static;
  top: 0;
  right: 0;
  left: 0;
  bottom:50%;
  background-color:#009900;
  text-align:center;
}

.bottom {
   position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  bottom: 0;
  background-color:#990000;
  text-align:center;
  color:#FFFFFF;
}
 