/*Navbar*/
.topnav {
    position: relative;
    overflow: hidden;
    background-color: white;
}

    .topnav a {
        float: left;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .topnav a:hover {
            background-color: white;
            color: black;
        }

        .topnav a.active {
            background-color: white;
            color: black;
        }

.topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topnav-right {
    float: right;
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
        float: none;
        display: block;
    }

    .topnav-centered a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
}

em {
    font-family: 'EB Garamond', serif;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    display: block;
    font-style: normal;
    padding-top: 0.1em;
    text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
    &::before, &::after;

{
    content: "§";
    display: inline-block;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 0.2;
    margin: 0 0.6em;
    font-size: 0.5em;
}